h1 {color: rgb(240, 10, 10);}
img {width:400px;}
#thirdDiv {
    width:500px ;
    height:600px ;
    background-color:cadetblue ;
    padding: 50px;
    border:5px;
    border-color: black;
    border-style: dotted;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}
body { 
    background-image:url ('');
   
}
